name: Benchmark

on:
  pull_request:
    branches: [master]
    paths-ignore: ['docs/**', '*.md']

permissions:
  pull-requests: write
  contents: read

jobs:
  benchmark:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ["1", "lts"]
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.version }}
          script: "benchmark/benchmarks.jl"
          extra-pkgs: "StableRNGs,StaticArrays"
