name: Downgrade Sublibraries
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    runs-on: ubuntu-latest
    # Disabled: julia-downgrade-compat@v2 removes local path deps from manifest, see #3021
    if: true
    strategy:
      fail-fast: false
      matrix:
        downgrade_mode: ['alldeps']
        julia-version: ['1.11']
        project:
          # - 'lib/ImplicitDiscreteSolve'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqAdamsBashforthMoulton'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqBDF'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqCore'
          # - 'lib/OrdinaryDiffEqDefault'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqDifferentiation'
          - 'lib/OrdinaryDiffEqExplicitRK'
          # - 'lib/OrdinaryDiffEqExponentialRK'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqExtrapolation'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqFIRK'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqFeagin'
          - 'lib/OrdinaryDiffEqFunctionMap'
          - 'lib/OrdinaryDiffEqHighOrderRK'
          # - 'lib/OrdinaryDiffEqIMEXMultistep'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqLinear'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqLowOrderRK'
          - 'lib/OrdinaryDiffEqLowStorageRK'
          # - 'lib/OrdinaryDiffEqNonlinearSolve'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqNordsieck'
          # - 'lib/OrdinaryDiffEqPDIRK'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqPRK'
          - 'lib/OrdinaryDiffEqQPRK'
          # - 'lib/OrdinaryDiffEqRKN'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqRosenbrock'  # disabled: see #2977
          # - 'lib/OrdinaryDiffEqSDIRK'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqSSPRK'
          # - 'lib/OrdinaryDiffEqStabilizedIRK'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqStabilizedRK'
          - 'lib/OrdinaryDiffEqSymplecticRK'
          # - 'lib/OrdinaryDiffEqTaylorSeries'  # disabled: see #2977
          - 'lib/OrdinaryDiffEqTsit5'
          - 'lib/OrdinaryDiffEqVerner'
          # - 'lib/SimpleImplicitDiscreteSolve'  # disabled: see #2977
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          projects: ${{ matrix.project }}
          skip: Pkg,TOML,Statistics,LinearAlgebra,SparseArrays,InteractiveUtils,OrdinaryDiffEqCore,OrdinaryDiffEqNonlinearSolve,OrdinaryDiffEqDifferentiation
          julia_version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: ${{ matrix.project }}
      - uses: julia-actions/julia-runtest@v1
        with:
          project: ${{ matrix.project }}
          ALLOW_RERESOLVE: false
        env:
          ODEDIFFEQ_TEST_GROUP: FUNCTIONAL
