name: Downgrade Sublibraries
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    runs-on: ubuntu-latest
    # Disabled: julia-downgrade-compat@v2 removes local path deps from manifest, see #3021
    if: true
    strategy:
      fail-fast: false
      matrix:
        downgrade_mode: ['alldeps']
        julia-version: ['1.11']
        project:
          - 'lib/ImplicitDiscreteSolve'
          - 'lib/OrdinaryDiffEqAdamsBashforthMoulton'
          - 'lib/OrdinaryDiffEqBDF'
          - 'lib/OrdinaryDiffEqCore'
          - 'lib/OrdinaryDiffEqDefault' 
          - 'lib/OrdinaryDiffEqDifferentiation'
          - 'lib/OrdinaryDiffEqExplicitRK'
          - 'lib/OrdinaryDiffEqExponentialRK'  
          - 'lib/OrdinaryDiffEqExtrapolation'
          - 'lib/OrdinaryDiffEqFIRK'
          - 'lib/OrdinaryDiffEqFeagin'
          - 'lib/OrdinaryDiffEqFunctionMap'
          - 'lib/OrdinaryDiffEqHighOrderRK'
          - 'lib/OrdinaryDiffEqIMEXMultistep'
          - 'lib/OrdinaryDiffEqLinear'
          - 'lib/OrdinaryDiffEqLowOrderRK'
          - 'lib/OrdinaryDiffEqLowStorageRK'
          - 'lib/OrdinaryDiffEqNonlinearSolve'
          - 'lib/OrdinaryDiffEqNordsieck'
          - 'lib/OrdinaryDiffEqPDIRK'
          - 'lib/OrdinaryDiffEqPRK'
          - 'lib/OrdinaryDiffEqQPRK'
          - 'lib/OrdinaryDiffEqRKN'
          - 'lib/OrdinaryDiffEqRosenbrock'
          - 'lib/OrdinaryDiffEqSDIRK'
          - 'lib/OrdinaryDiffEqSSPRK'
          - 'lib/OrdinaryDiffEqStabilizedIRK'
          - 'lib/OrdinaryDiffEqStabilizedRK'
          - 'lib/OrdinaryDiffEqSymplecticRK'
          - 'lib/OrdinaryDiffEqTaylorSeries'
          - 'lib/OrdinaryDiffEqTsit5'
          - 'lib/OrdinaryDiffEqVerner'
          - 'lib/SimpleImplicitDiscreteSolve'
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          projects: ${{ matrix.project }}
          skip: Pkg,TOML,Statistics,LinearAlgebra,SparseArrays,InteractiveUtils,OrdinaryDiffEqCore,OrdinaryDiffEqNonlinearSolve,OrdinaryDiffEqDifferentiation,NonlinearSolveBase,DifferentiationInterface,SciMLOperators
          julia_version: ${{ matrix.julia-version }}
      - name: Re-resolve manifest after downgrade
        run: julia --color=yes --project=${{ matrix.project }} -e 'using Pkg; Pkg.resolve(); Pkg.instantiate()'
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: ${{ matrix.project }}
      - uses: julia-actions/julia-runtest@v1
        with:
          project: ${{ matrix.project }}
          ALLOW_RERESOLVE: false
        env:
          ODEDIFFEQ_TEST_GROUP: FUNCTIONAL
